.app-container {
    display: flex;
  }
  
  .sidebar-container {
    width: 250px;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
  }
  
  .data-container {
    flex: 1;
    margin-left: 250px; /* Adjust based on the sidebar width */
    padding: 20px;
    background-color: #fff; /* Optional: Add a background color for the data container */
    height: 100vh; /* Ensure it spans the full height of the viewport */
    overflow-y: auto; /* Add vertical scrolling if the content overflows */
  }
  
  /* Include other styles from your existing Data.css here */
  .data-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    height: 40px;
  }
  
  .data-header .header-left {
    display: flex;
    align-items: center;
  }
  
  .data-header .header-right svg {
    margin: 0px 10px;
  }
  
  .data-grid {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .data-file {
    text-align: center;
    border: 1px solid rgb(204 204 204 / 46%);
    margin: 10px;
    min-width: 200px;
    padding: 10px 0px 0px 0px;
    border-radius: 5px;
  }
  
  .data-file svg {
    font-size: 60px;
    color: gray;
  }
  
  .data-file p {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    font-size: 12px;
    background: whitesmoke;
    padding: 10px 0px;
  }
  
  .data-list-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .data-list-row p {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  
  .data-list-row p b {
    display: flex;
    align-items: center;
  }
  
  .data-list-row p svg {
    font-size: 22px;
    margin: 10px;
  }
  
  .login-wrapper {
    background: lightgrey;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .login-wrapper img {
    width: 100px;
  }
  
  .login-wrapper button {
    width: 100%;
    background: darkmagenta;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s;
  }
  
  .login-wrapper button:hover {
    background: mediumvioletred;
  }